/* Estilos menu */
/* ========================================= */
.menu-circular {
	position: fixed;
	z-index: 1000;
	.menu-circular-btn {
		display: block;
		width: 3.5em;
		height: 3.5em;
		border-radius: 50%;
		color: white;
		text-align: center;
		line-height: 3.9;
		cursor: pointer;
		.menu-circular-btn-icon {
			transition: transform .4s linear;
			vertical-align: middle;
			position: relative;
			top: -3px;
			left: 0px;
		}
	}
	&:active {
		.menu-circular-btn {
			.menu-circular-btn-icon {
				transform: rotate(90deg);
			}
		}
	}
	&:after {
		display: block;
		content: ' ';
		width: 3.5em;
		height: 13.5em;
		border-radius: 50%;
		position: absolute;
		top: -189px;
		z-index: -2;
		transform: scaleY(0);
		transition: .5s .7s ease;
		transform-origin: bottom;
	}
	.menu-circular-items {
		.menu-circular-items-item {
			&:nth-child(1) {
				position: relative;
				top: -60px;
				left: -28px;
				z-index: -1;
				opacity: 0;
				transition: .3s 0.6s ease-in-out;
			}
			&:nth-child(2) {
				position: relative;
				top: -60px;
				left: -62px;
				z-index: -1;
				opacity: 0;
				transition: .3s 0.5s ease-in-out;
			}
			&:nth-child(3) {
				position: relative;
				top: -60px;
				left: -96px;
				z-index: -1;
				opacity: 0;
				transition: .3s 0.4s ease-in-out;
			}
			&:nth-child(4) {
				position: relative;
				top: -60px;
				left: -130px;
				z-index: -1;
				opacity: 0;
				transition: .3s 0.3s ease-in-out;
			}
			&:nth-child(5) {
				position: relative;
				top: -60px;
				left: -164px;
				z-index: -1;
				opacity: 0;
				transition: .3s 0.2s ease-in-out;
			}
		}
	}
}
.menu-circular-pagina {
	bottom: -3.4em;
	left: 1em;
	.menu-circular-btn {
		background-color: #97318f;
		box-shadow: 0px 0px 10px #000000;
	}
	&:after {
		background-color: #c774c0;
	}
}
.menu-circular-redes {
	bottom: -3.4em;
	right: -8em;
	.menu-circular-btn {
		background-color: #179608;
		box-shadow: 0px 0px 10px #000000;
	}
	&:after {
		background-color: #6eab67;
	}
}
.menu-circular.active {
	&:after {
		transform: scaleY(1);
		border-radius: 34px 34px 0px 0px;
		transition: .5s ease;
	}
	.menu-circular-items {
		.menu-circular-items-item {
			&:nth-child(1) {
				position: relative;
				top: -252px;
				left: -28px;
				opacity: 1;
				transition: .3s 0.2s ease-in-out;
			}
			&:nth-child(2) {
				position: relative;
				top: -215px;
				left: -62px;
				opacity: 1;
				transition: .3s 0.3s ease-in-out;
			}
			&:nth-child(3) {
				position: relative;
				top: -178px;
				left: -96px;
				opacity: 1;
				transition: .3s 0.4s ease-in-out;
			}
			&:nth-child(4) {
				position: relative;
				top: -142px;
				left: -130px;
				opacity: 1;
				transition: .3s 0.5s ease-in-out;
			}
			&:nth-child(5) {
				position: relative;
				top: -106px;
				left: -164px;
				opacity: 1;
				transition: .3s 0.6s ease-in-out;
			}
		}
	}
}
.menu-circular-pagina.active {
	&:after {
		box-shadow: 0px 0px 10px #6b2a66,0px 0px 20px #ff00ea,0px 0px 30px #bb1dd7;
	}
}
.menu-circular-redes.active {
	&:after {
		box-shadow: 0px 0px 10px #2b302a, 0px 0px 20px #1aff00, 0px 0px 30px #26ff0d;
	}
}
@media (min-width: 600px) {
	.menu-circular {
		display: none;
	}
}
