@import "base/colors";
@import "base/fonts";
@import "base/mixin";

@import "componentes/menuLateral";
@import "componentes/baner";
@import "componentes/accordion";
@import "componentes/botonJuego";
@import "componentes/titulosSecciones";

@import "sections/sectionSith";
@import "sections/sectionTecnologia";
@import "sections/lineaTemporal";
@import "sections/footer";

main {
	background: $bg-main;
	display: block;
}

@mixin sombraCustomPersonaje {
	box-shadow: 0px 0px 17px black;
}
@mixin BackgroundRadiusCustomPersonaje($bg-color,$radius) {
	border-radius: $radius;
	background-color: $bg-color;
}
@mixin Border-radiusBackgroundBorder($radius,$bg-color,$border) {
	@include BackgroundRadiusCustomPersonaje($bg-color,$radius);
	border: $border;
}
@mixin resetFormInputSelect ($radius,$bg-color,$border){
	@include Border-radiusBackgroundBorder(10px,transparent,none);
	width: calc(100% - 10px);
	font-size: 16px;
}
.custom-saber {
	background: linear-gradient(147deg, #524d4d 0%, #a82952 100%);
	height: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.contenedor-titulo {
		width: 50%;
		@include BackgroundRadiusCustomPersonaje(#e3e5e7c7,10px);
		@include sombraCustomPersonaje();
		margin-bottom: 13px;
		text-align: center;
		overflow: hidden;
		.contenedor-form-titulo {
			color: black;
			margin: 0px 0px 0px 5px;
			font-size: 2.5rem;
			@media (max-width:460px){
				font-size: 1rem;
			}
		}
	}
	.contendor-form {
		width: 50%;
		@include BackgroundRadiusCustomPersonaje(#e3e5e7c7,10px);
		@include sombraCustomPersonaje();
		overflow: hidden;
		.grupo-input-text {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 10px;
		}
		.grupo-input-select {
			@extend .grupo-input-text;
		}
		.grupo-input {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			margin-bottom: 10px;
			margin-left: 15px;
			margin-right: 15px;
			border-bottom: 1px solid;
			.form-label-input {
				color: rgb(98, 98, 98);
				margin-left: 8px;
				font-size: 16px;
			}
			.form-input {
				margin-left: 5px;
				@include resetFormInputSelect(10px,transparent,none);
				outline: none;
				&::placeholder {
					color: rgb(39, 39, 39);
					border: none;
				}
			}
			.form-select {
				@include resetFormInputSelect(10px,transparent,none);
				color: black;
				option {
					background-color: rgba(200, 192, 184, 0.794);
					&:checked {
						color: black;
						background-color: rgb(190, 182, 173);
					}
				}
				.form-input-file {
					width: 90%;
					background-color: transparent;
					color: black;
					outline: none;
					margin-left: 8px;
				}
			}
		}
		.grupo-button {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			margin-bottom: 10px;
			.btn-form {
				margin: 0px 5px 5px 5px;
				border-radius: 9px;
			}
		}
		input[type="date"] {
			&::-webkit-calendar-picker-indicator {
				color: rgba(0, 0, 0, 0);
				opacity: 0;
				display: block;
				width: 5px;
				height: 5px;
				border-width: thin;
			}
		}
		input[type="file"] {
			&::-webkit-file-upload-button {
				color: white;
				@include Border-radiusBackgroundBorder($radius:5px,$bg-color:#0d6efd,$border:none);
				margin: 0;
				padding: .375rem .75rem;
			}
		}




	}
}
.modal-content-custom{
	border: none;
	background-color: transparent;
	
	.modal-header-custom{
		background-color: #803131;
		border: none;
		border-radius: 20px 20px 0px 0px;
		text-align: center;
		.modal-title-custom{
			color:white;
		}
	}
	.modal-body-custom{
		background: linear-gradient(147deg, #423e3e 0%, #5c2838 100%);
		.tablaPersonaje{
			width: 100%;
		}
		.tablaCustomPersonaje{
			width: 100%;
			.tablaPersonaje-foto{
				text-align: center;
			}
			.th-custom{
				color: white;
				font-size: 1rem;
			}
			.td-custom{
				color: rgb(201, 200, 200);
				font-size: 1rem;
			}
		}
		.contenedor-sable-laser{
			/* background: linear-gradient(147deg, #423e3e 0%, #5c2838 100%); */
			display: inline-block;
			position: relative;
			left: 167px;
			/* box-shadow: 0px 0px 17px black; */
			/* justify-content: center; */
			height: 500px;
			
			// display: flex;
			// box-shadow: 0px 0px 17px black;
			// justify-content: center;
			// height: 500px;
			.sable-laser{
				height: 400px;
				width: 70px;
				margin: 0 40px;
				.contenedor-mango{
					position: absolute;
					top: 288px;
					z-index: 2;
					cursor: pointer;
				}
				
				.contenedor-luz{
					background-color: rgb(255, 255, 255);
					height: 300px;
					width: 8px;
					border-radius: 7px 7px 0 0;
					z-index: 1;
					margin-left: -1%;
					display: none;
					position: relative;
					top: 40px;
					left: 17px;
					transform: scaleY(0);
					transition: .3s;
					transform-origin: bottom;
				}
				
			}
		}

	}
	.modal-footer-custom{
		background-color: #803131;
		border: none;
		border-radius: 0px 0px 20px 20px;
		.btn-modal-custom{
			background-color: #5d5858;
    		color: white;
    		box-shadow: 0px 0px 6px black;
		}
	}
}

/* Parte de los sables */





/* Fin parte delos sables */

@media (max-width:460px) {
	.contenedor-titulo {
		width: 100%;
	}
	
	.contendor-form {
		width: 100%;
	}
}

