$bg-main: linear-gradient(to bottom, rgb(158, 40, 146) , rgba(80, 13, 100, 0.931));
$bg-menu: linear-gradient(0deg, rgb(177, 8, 8), rgb(216, 112, 71));
$bg-accordion: linear-gradient(to right, rgb(92, 63, 92) , rgb(90, 20, 20));


$colores-sables:(
    blue:blue,
    red:red,
    green:green,
    violet:violet,
    grey:rgb(0,194,164),
    yellow:yellow,
);