$personajes-url:(
    Maul:'../img/personajes/darthMaul.jpg',
    VaderD:'../img/personajes/darthVader2.jpg',
    KyloR:'../img/personajes/kylo.png',
    Doku:'../img/personajes/kylo.png',
    PalpatineSith:'../img/personajes/darthSidious.jpg',
    PlageriusSith:'../img/personajes/plagueis.jpg',
);
